body,td {font-family:arial,verdana;
font-size:13px;
margin:0px;

}
a.navig:link,a.navig:visited { 
    text-decoration: none;
    color:#1767B7;
}

a.banner:link,a.banner:visited
{
    display:block;
    font-size:16px;
    color:#FFFFFF;
    line-height:30px; /*hauteur de l'image de fond*/
    background-color:#1767B7;
    padding:10px;
    text-align:center;
    text-decoration:none;
}
a.banner:hover,a.banner:active
{
 background-color:#2070C0;
 color:white;
}
#banner{
    width:100%;
    padding-bottom:15px;
}
#console{
    color:#FFF;
    background-color:#000;
    font-weight:bold;
    font-size:12px;
}
#content {
    padding-left:5%;
    padding-right:15%;
    
}
a.glink{
    text-decoration:underline;
    background-color: #FFF;
    color: #000;
}
img.logo {
    height: 28px;
    padding:0px;
    border-width:0px;
    width:auto;
}
td.logo {
    padding-left:20px;
    background-color:#1767B7;
    width:15%;
}
td.top_menu{
    width:10%;
}
td.language{
    background-color:#1767B7;
    text-align:right;
}
select.language{
    border-width:0px;
    font-size:14px;
    color:#000;
    padding:10px;
    margin-left:10px;
}
li {
    margin-bottom: 3px;
}
pre.marked {
    color: #339;
}
code {
    color: #339;
}
em{
    color: #339;
    font-family:courier;
}
strong{
    color: #339;
    font-family:courier;
}
/* 以下 for brython2 */

html, body {
	margin: 0;
	padding: 0;
	width: 1000px;
	height: 100%; 
}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.left_block {
	display: block;
	float: left; 
}

.right_block {
	display: block;
	float: right; 
}

.center_block {
	display: block;
	width: auto; 
}

.background.plot_area {
	height: auto !important;
	padding-bottom: 0;
	right: 0;
	width: 500px;
	background-color: #9999ff;
	margin-top: 0px; 

}

.plot_area {
	height: 500px;
	width: 500px;
	padding-bottom: 0px;
}

.background.editor_area {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	right: 0;
	background-color: #669966;
	margin-top: 0px;
	margin-right: 500px; 
}

.editor_area {
	width: 500px;
	height: auto;
	padding-bottom: 0px;
}

.editor {
	width: 100%;
	height: 200px;
	background-color: #666699;
}

.command {
	width: 100%;
	height: 100px;
	background-color: #666666;
           overflow: auto;
}

.background.console {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	right: 0;
	background-color: #6666ff;
	margin-top: 300px; /*200+100*/
}

.console {
	width: auto;
	height: auto;
	padding-bottom: 0px;
}


